{% extends 'base.html.twig' %}

{% block title %}Hello COURS !{% endblock %}
{% block stylesheets %}
<link rel="stylesheet" href={{ asset('css/style.css') }}
{% endblock %}

{% block body %}
<h1>Cours SYMFO</h1>
<p>Hello {{ controller_name }} {{nom}} !</p>

<div><a href="/listCategorie">/listCategorie</a></div>
<div><a href="/utilisateur">/utilisateur</a></div>
<div><a href="/addUtilisateur">/addUtilisateur</a></div>
<div><a href="/login">/login</a></div>
<div><a href="/produit">/produit creation d'une categorie et 3 produits</a></div>
<div><a href="/article">/article realise avec make:crud</a></div>


{% endblock %}
